@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/57/Drums_schematic.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 765.80px;
    background-color: #f7f4eb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    border: solid #092a35;
    box-shadow: 8px 3px 10px #bcbcbc;
}
.head{
    font-family: 'Fredoka One', cursive;
    color:#fff;
    flex-basis: 25%;
    background-color: #092a35;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child{
    font-family: 'Fredoka One', cursive;
    flex-basis: 75%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}
.btn{
    cursor: pointer;
    color: #fff;
    -webkit-text-stroke: 1px #092a35;
    font-size: 30px;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 3px solid #092a35;
    border-radius: 10px;
}
.btn:hover{position: relative; top:-5px; box-shadow: 3px 3px 10px #092a35;}
.w{
    background-image: url('https://github.com/Piyush-Chetwani/Drum-Kit/blob/main/images/tom1.png?raw=true');
}
.a{
    background-image: url('https://github.com/Piyush-Chetwani/Drum-Kit/blob/main/images/tom2.png?raw=true');
}
.s{
    background-image: url('https://github.com/Piyush-Chetwani/Drum-Kit/blob/main/images/tom3.png?raw=true');
}
.d{
    background-image: url('https://github.com/Piyush-Chetwani/Drum-Kit/blob/main/images/tom4.png?raw=true');
}
.j{
    background-image: url('https://github.com/Piyush-Chetwani/Drum-Kit/blob/main/images/snare.png?raw=true');
}
.k{
    background-image: url('https://github.com/Piyush-Chetwani/Drum-Kit/blob/main/images/crash.png?raw=true');
}
.l{
    background-image: url('https://github.com/Piyush-Chetwani/Drum-Kit/blob/main/images/kick.png?raw=true');
}
.raxmice{
    padding: 3px;
    color: #092a35;
    text-align: center;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        height: 500px;
    }
    .head{
        font-size: 12px;
    }
    .area{
    width: 70%;
    height: 70%;
    }
    .btn{
        width: 45px;
        height: 45px;
        font-size: 20px;
        }
    .raxmice{
        font-size: 10px;
    }
  }

  /* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        height: 400px;
    }
    .head{
        font-size: 8px;
    }
    .area{
    width: 80%;
    height: 80%;
    }
    .btn{
        border: 2px solid #092a35;
    width: 30px;
    height: 30px;
    }
    .btn p{
        display: none;
    }
    .raxmice{
        font-size: 8px;
    }
  }